.botao{
    /* padding: 5px 100px; */
    width: 350px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: #1565C0;
    color: white;
    border-radius: 7px;
    
    /* Negrito */
    font-weight: bolder;
    /* font-family: 'Poppins'; */
}
@media screen and (max-width: 360) {
    .botao{
        width: 100px;
    }
    
}